.article{
padding: 30px;
padding-left: 2px;
margin-top: 40px;
}

.parent{
  display: flex;
  justify-content: space-between;
  margin-top: 1000px;
}

.rimg{
  height:200px;
  width: 90%;
  flex: left;
  border: 1px solid;
  margin: -40px;
  margin-left: -54px;
}
.rimg2{
  border: 1px;
}
.rTitle{
  margin-top: 40px;
margin-left: 2%;
margin-right:5%;
width: 70%;
border: 1px solid;
}
.rTitle2{
  font-family: Segoe UI;
  font-weight: 400;
  color:#707070;

}
.rcomment{
  width: 60%;
  height:auto;
  margin-top: 2%;
    margin-left: 6%;
    border: 1px solid black;
  


}
.rAuthor{
margin-left: 2%;
margin-top: 1%;
border: 1px solid;
width: 70%;
}
.rAuthor1{  
  font-family: Segoe UI;

  color:#f7b830;
  font-size: small;
  font-style: italic;

}

.rDescr{
  height: auto;
  border: 1px solid;
  margin-left: 2%;
  margin-top: 2%;
  width: 70%;
 
}

.rcomment1{
  font-style: oblique;
  border-top: 5px solid #d6f75f;
  background-color: #F2F7E0;
   margin: 8px;
   height: 100px;

  
}

.comimg{
  height: 40px;
  width:40px;
  border:1px solid black;
  margin-left: 8px;
  margin-top: 2px;
  float: left;
}

.rright{
  border: 1px solid;
  height: 100%;
  margin-top: -23%;
  width: 26%;
float: right;
background-color:rgb(90, 90, 90);
margin-right: -8%;
height: 123%;
}
.rright1{
  font-size: 18px;
  color:white;
  padding-top: 4px;
  padding-left: 2px;
}
.username{
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
  font-size: 12px;
  padding-top: 4px;
}


.image1{
  height:180px;
  width: 220px;
  padding: 5px;
  background-color:white;
}


.image2{
  height:160px;
  width: 160px;
  border-radius: 6px;
  padding-left: 4px;
  padding-top: 2px;
  border: 2px;
  border-radius: 120px;
  margin-left: 18px;


}

.App {
  text-align: center;
}

.c{
  background-color: red;
  justify-content: left;
  align-items: center;
  width: 500px;
  height:0px;
   margin-left: 700px;
   margin-bottom: 470px;
}


.logout{
  border:2px solid white;
  border-radius: 8px;
  height: 40px;
  background-color:rgb(199, 195, 195);
  width: 120px;
}




.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5ccbf6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.log{
  margin-left: 90%;
  margin-top: 0.7%;

}

.desc{
  background-color: white;
  margin-right: 10px;


  padding-top: 90px !important;

}

.desc2{

  background-color: rgb(217, 230, 235) ;
  height:190px;
  width:400px;
  box-shadow: 5px 5px 5px 4px #f7b830;


}
.descr{
  font-size: 16px;
 
  /*margin-top: 70px;*/
  color: #4caf50;;
  font-family:'Courier New', Courier, monospace;
  text-transform: capitalize;
  padding-left: 4px;
  font-style:initial;
  
}

.title{
  text-transform: uppercase;
  font-size: 14px;
padding-top: 5px;
padding-left: 8px;
color:#f7b830;
}

.t{
  text-transform: uppercase;
  font-size: 14px;
padding-top: 5px;
padding-left: 8px;
color: #4caf50;;

}

.img{
  height:32px;
  width:30px;
  margin: auto;
}
.but{
  padding: 0;
border: none;
background: none;
}

.likeBtn{
  height: 38px;
  padding: 0 30px;
  font-size: 11px;
  background-color: transparent;
  border-radius: 6px;
}
.bu{
  margin-bottom: 8px !important;
  height: 4px !important;
  width: 4px;
}
.w{
background-color: transparent !important;
}
